@font-face {
    /* Fedra Serif A Book */
    font-family: "WF-028154-009464-000003";
    src: url('../fonts/ishafonts/WF-028154-009464-000003.eot');
    src: url('../fonts/ishafonts/WF-028154-009464-000003.eot?#iefix') format('embedded-opentype'), url('../fonts/ishafonts/WF-028154-009464-000003.woff') format('woff'), url('../fonts/ishafonts/WF-028154-009464-000003.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    /* Fedra Sans Book */
    font-family: "WF-028154-009464-000007";
    src: url('../fonts/ishafonts/WF-028154-009464-000007.eot');
    src: url('../fonts/ishafonts/WF-028154-009464-000007.eot?#iefix') format('embedded-opentype'), url('../fonts/ishafonts/WF-028154-009464-000007.woff') format('woff'), url('../fonts/ishafonts/WF-028154-009464-000007.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    /* Fedra Serif A Medium */
    font-family: "WF-028154-009464-000050";
    src: url('../fonts/ishafonts/WF-028154-009464-000050.eot');
    src: url('../fonts/ishafonts/WF-028154-009464-000050.eot?#iefix') format('embedded-opentype'), url('../fonts/ishafonts/WF-028154-009464-000050.woff') format('woff'), url('../fonts/ishafonts/WF-028154-009464-000050.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}
/* 
body {
    /* padding-top: 50px; removed on 6sep2017 
    background-color: #fff !important;
    font-family: "WF-028154-009464-000003";
    opacity: 0.99;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-break: keep-all;
} */

h1,
h2,
h3,
h4,
h5 {
    font-family: "WF-028154-009464-000050" !important;
    font-size: 36px;
    line-height: 1.11;
}
